@import "zen";

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: 400;
  overflow-x: hidden;
}

.svg-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.debug-element {
  position: absolute;
  left: 0;
  top:0;
  z-index: -1;
  opacity: 0.5;
}

.matter-debug {
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
}


.sample__gradient {
  background: #8a2387;
  background: linear-gradient(to bottom, #8a2387, #e94057, #f27121);

  height: 2000px;
}

.sample__gradient--small {
  height: 600px;
}

.sample-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.other-sample {
  width: 400px;
  margin: auto;
}